# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.wheel

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
env/
.venv/
.env/

# IDE/editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.noseids
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# VS Code extension settings (optional)
.python-version

# Model files & large data
*.pth

# Local models/data cache
.ai_object_remover/models/
